.navbar {
  position: fixed;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4rem auto;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  margin: 1.2rem;
  font-size: 1rem;
  color: #718096;
  font-weight: 500;
}

.nav-logo {
  font-size: 1.3rem;
  font-family: "Lora", serif;
  color: #2d3748;
}

.nav-logIn {
  background: #fff;
  box-shadow: 0px 1px 3px #00000029;
  border: 1px solid #2d3748;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  color: #2d3748;
  font-weight: 500;
  margin: auto 1.2rem;
}

.nav-register {
  display: flex;
  align-items: center;
  background: #2d3748;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0.5rem;
  padding: 0.8rem 1.4rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin: auto 1.2rem;
  cursor: pointer;
}

.nav-menu-icon {
  display: none;
}

.register-icon {
  margin-left: 0.7rem;
}

@media only screen and (max-width: 1024px) {
  .nav-link {
    display: none;
  }

  .nav-menu-icon {
    display: block;
  }
}
